[Unit]
Description=Copy user wpa_supplicant.conf
ConditionPathExists=/run/media/mmcblk0p1/wpa_supplicant.conf
After=weston.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /etc/wpa_supplicant/
ExecStart=/bin/mv /run/media/mmcblk0p1/wpa_supplicant.conf /etc/wpa_supplicant/wpa_supplicant-wlan0.conf
ExecStartPost=/bin/chmod 600 /etc/wpa_supplicant/wpa_supplicant-wlan0.conf
ExecStartPost=/bin/sh -c "systemctl enable --now wpa_supplicant@wlan0"

[Install]
WantedBy=multi-user.target
