[Unit]
Description=MaaXBoard Bluetooth Enable service
Requires=maaxboard-wifi.service
After=network.target maaxboard-wifi.service

[Service]
Type=forking
ExecStart=/etc/bluetooth/maaxboard-bt

[Install]
WantedBy=multi-user.target